* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

:root {
    --themeColor: #FF5400;
    --lightGrayText: #424247;
    --blackText: #131318;
    --paragraphText: #131318B2;
}

header,
main {
    max-width: 1250px;
    margin: 0 auto;
}

/*---------Navigation Section----------*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.logo>h2 {
    color: var(--blackText);
    font-size: 36px;
    font-weight: 800;
}

.color-text {
    color: var(--themeColor);
}

.navIcon {
    display: none;
    font-size: 24px;
}

.menu>ul {
    display: flex;
    list-style: none;
    gap: 44px;
}

.menu>ul>li>a {
    text-decoration: none;
    color: var(--lightGrayText);
    font-size: 18px;
    font-weight: 600;

}

.menu>ul>li:hover a {
    color: var(--themeColor);

}

/*---------Banner Section----------*/
.banner {
    background-image: url(../images/Group1.png);
    height: 500px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 20px;
    margin-top: 20px;
}

.bannerInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

.bannerInner h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.bannerInner p {
    width: 676px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.filterSection {
    display: flex;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.filterSection>input,
.filterSection>select,
.filterSection>.filterBtn {
    border: 0;
    outline: 0;
    border-radius: 8px;
    width: 174px;
    height: 52px;
    padding: 0 10px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.filterSection>select {
    border-right: 10px solid #fff;
}

.filterSection>.filterBtn {
    background-color: var(--themeColor);
    color: #fff;
    font-weight: 700;
}

.filterSection>.filterBtn:hover {
    background-color: #f55200;
}

/*---------Popular Section----------*/
.textWithImage {
    margin-top: 100px;
    padding: 20px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.titleText {
    color: var(--blackText);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.bodyText {
    color: var(--paragraphText);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 14px;
}

.imgContainer img {
    max-width: 540px;
    object-fit: cover;
}

.btn {
    background-color: var(--themeColor);
    color: #FFF;
    padding: 14px 34px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 800;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: #f55200;
}

/* Destination Section Design */
.destination {
    padding: 20px;
    margin-top: 100px;
}

.textWrap {
    width: 645px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 300px);
    gap: 24px;
}

.galleryImg {
    position: relative;
}

.galleryImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 16px;
    height: 100%;
}

.galleryTitle {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}


#item1 {
    grid-column: span 6;
    grid-row: span 1;
}

#item2 {
    grid-column: span 6;
    grid-row: span 1;
}

#item3 {
    grid-column: span 3;
    grid-row: span 1;
}

#item4 {
    grid-column: span 6;
    grid-row: span 1;
}

#item5 {
    grid-column: span 3;
    grid-row: span 1;
}

#item6 {
    grid-column: span 5;
    grid-row: span 1;
}

#item7 {
    grid-column: span 7;
    grid-row: span 1;
}
/* Price Chart Section Design */
.priceSection {
    background-image: url('../images/price-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 20px;
    padding: 100px 20px;
}
.priceChartLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.priceChart {
    background: #fff;
    padding: 20px;
    flex: 1;
    flex-basis: 320px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.priceChart>h4 {
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #f8b600;
    padding-bottom: 20px;
}
.priceChart>ul {
    list-style: none;
    margin-top: 30px;
}
.priceList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
}
.priceList .name {
    color: var(--lightGrayText);
    font-size: 18px;
    font-weight: 500;
}
.priceBtn {
    background: #f9f9ff;
    border: 1px solid #eee;
    border-radius: 5px;
    color: #222;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
}
.priceBtn:hover {
    background-color: var(--themeColor);
    color: #fff;
}

/* Service Section Design */
.serviceContainer {
    margin-top: 100px;
}

.service {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 24px;
    flex-wrap: wrap;
}

.card {
    border-radius: 16px;
    padding: 30px;
    flex-basis: 460px;
}

.card>.titleText {
    font-size: 24px;
    margin-bottom: 10px;
}

.card img {
    margin-bottom: 30px;
}

#card-1 {
    background-color: rgba(251, 181, 99, 0.05);
}

#card-2 {
    background-color: rgba(41, 206, 246, 0.05);
}

#card-3 {
    background-color: rgba(233, 68, 68, 0.05);
}

/* Deals & Discounts Section */
.deals {
    padding: 20px;
    margin-top: 100px;
}

.dealsContainer {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    padding: 55px;
    margin-bottom: 20px;
}

.dealsInner {
    width: 580px;
    padding: 55px;
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 16px;
}

.smallDetails {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 10px;
    margin-bottom: 25px;
}

.smallDetails>p>i {
    color: var(--themeColor);
}

.smallDetails>p {
    color: #5a5a5d;
    font-size: 16px;
}

.dealsInner>.titleText {
    font-size: 24px;
}

.price.titleText {
    color: var(--themeColor);
    margin-bottom: 0;
}

#deals1,
#deals3 {
    background-image: url('../images/Group2.png');
}

#deals2 {
    justify-content: start;
    background-image: url('../images/Group3.png');
}

/* Text With Video Section */
.imgContainer iframe {
    width: 500px;
}

/* Newsletter Section Design */
.newsContainer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 20px;
}

.newsletter {
    border: 1px solid var(--themeColor);
    border-radius: 16px;
    padding: 40px 20px;
}

.newsletter h4 {
    font-size: 24px;
}

hr {
    width: 100%;
    border-color: rgba(19, 19, 24, 0.10);
}

.newsletter>form {
    margin-top: 24px;
}

.newsletter>form>input {
    display: block;
    border: 0;
    outline: 0;
    background: rgba(19, 19, 24, 0.05);
    border-radius: 8px;
    width: 100%;
    height: 52px;
    padding: 0 10px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 16px;
}

.newsletter>form>input[type='submit'] {
    background-color: var(--themeColor);
    color: #fff;
    font-size: 18px;
    font-weight: 800;
}

.newsImg {
    position: relative;
}

.newsImg>img {
    width: 100%;
}

.promo {
    max-width: 325px;
    position: absolute;
    bottom: 70px;
    right: 0;
    background-color: var(--themeColor);
    padding: 20px;
    border-radius: 16px;
    text-align: center;
    transform: rotate(-35deg);
}

.promo>p {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
}

.promo>h5 {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}
footer {
    padding: 100px 10px;
    background-color: rgba(19, 19, 24, 0.05);
}
.innerFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 780px;
    text-align: center;
    gap: 30px;
}
.socialIcon i {
    margin-right: 25px;
}

/* Tablet Responsive Design */
@media only screen and (max-width:990px) {
    .logo img {
        width: 30px;
    }

    .logo>h2 {
        font-size: 18px;
    }

    .menu>ul {
        gap: 15px;
    }

    .menu>ul>li>a {
        font-size: 14px;
    }

    .bannerInner {
        padding: 20px;
    }

    .bannerInner h1 {
        font-size: 40px;
    }

    .bannerInner p {
        width: 90%;
    }

    .filterSection {
        flex-direction: column;
        width: 95%;

    }

    .filterSection>input,
    .filterSection>select,
    .filterSection>.filterBtn {
        width: 100%;
    }

    .textWithImage {
        margin-top: 40px;
        flex-direction: column;
        padding: 0 40px;
    }

    .imgContainer img {
        max-width: 100%;
    }

    .titleText {
        font-size: 34px;
    }

    .destination,
    .serviceContainer,
    .deals,
    .newsContainer {
        margin-top: 40px;
    }

    .textWrap {
        width: 100%;
        padding: 0 10px;
    }

    .gallery {
        grid-template-rows: repeat(4, 200px);
    }

    .galleryTitle {
        font-size: 18px;
        font-weight: 700;
    }

    #item1 {
        grid-column: span 6;
    }

    #item2 {
        grid-column: span 6;
    }

    #item3 {
        grid-column: span 6;
    }

    #item4 {
        grid-column: span 6;
    }

    #item5 {
        grid-column: span 6;
    }

    #item6 {
        grid-column: span 6;
    }

    #item7 {
        grid-column: span 12;
    }

    .imgContainer iframe {
        max-width: 100%;
    }

    .newsContainer {
        flex-direction: column;
    }

    .newsletter,
    .newsImg {
        width: 100%;
    }
}

/* Mobile Responsive Design */
@media only screen and (max-width: 600px) {
    .menu>ul {
        display: none;
    }

    .navIcon {
        display: block;
    }

    .bannerInner h1 {
        font-size: 22px;
    }

    .bannerInner p {
        font-size: 14px;
        width: 100%;
    }

    .textWithImage {
        margin-top: 20px;
        flex-direction: column;
        padding: 0 20px;
    }

    .titleText,
    .card>.titleText {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .bodyText {
        font-size: 14px;
    }

    .destination,
    .serviceContainer,
    .deals,
    .newsContainer {
        margin-top: 20px;
    }

    .gallery {
        grid-template-rows: repeat(7, 200px);
        gap: 16px;
    }

    #item1 {
        grid-column: span 12;
    }

    #item2 {
        grid-column: span 12;
    }

    #item3 {
        grid-column: span 12;
    }

    #item4 {
        grid-column: span 12;
    }

    #item5 {
        grid-column: span 12;
    }

    #item6 {
        grid-column: span 12;
    }

    #item7 {
        grid-column: span 12;
    }

    .textWrap {
        margin-bottom: 10px;
    }
    .priceSection {
        padding: 20px 10px;
        margin: 20px 0;
    }

    .card {
        padding: 20px 15px;
    }

    .dealsContainer {
        align-items: end;
        padding: 16px;
    }

    .dealsInner {
        padding: 30px 20px;
    }

    .smallDetails {
        margin-bottom: 10px;
        row-gap: 5px;
    }

    .smallDetails>p {
        font-size: 14px;
    }

    .dealsInner>.titleText {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .dealsInner>.bodyText {
        font-size: 14px;
        margin-bottom: 10;
        line-height: 1.5;
    }

    .btn {
        padding: 10px 20px;
        margin-top: 5px;
        font-size: 14px;
    }

    .promo {
        max-width: 215px;
        right: 5px;
        bottom: 42px;
        transform: rotate(-32deg);
        border-radius: 8px;
    }

    .promo>p {
        font-size: 14px;
    }

    .promo>h5 {
        font-size: 18px;
    }
    footer {
        padding: 50px 30px;
    }
}